@import "tailwindcss";

/* === Animaciones === */
@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -2px); }
  to   { opacity: 1; transform: translate(-50%, 0); }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out forwards;
}

@keyframes slideIn {
  0% { transform: translateX(120%); opacity: 0; }
  60% { transform: translateX(-10%); opacity: 1; }
  100% { transform: translateX(0); opacity: 1; }
}

.animate-slideIn {
  animation: slideIn 0.4s ease-out forwards;
}

/* === Scrollbar premium === */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b5b5b5;
}

/* Scrollbar elegante */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #38b2ac; /* teal-500 */
  border-radius: 12px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: #e5e7eb; /* gray-200 */
  border-radius: 12px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
